body {
    background-color: #142962;
}

.caixa-do-circulo {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.base-circulo {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50%;
}

.circulo-1 {
    background-color: #fff;
}

.circulo-2 {
    background-color: #000000;
}

.circulo-3 {
    background-color: #ff1493;
}

.caixa-do-quadrado {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.base-quadrado {
    height: 100px;
    width: 100px;
    margin: 20px;
}

.quadrado-1 {
    background-color: #fff;
}

.quadrado-2 {
    background-color: #000;
}

.quadrado-3 {
    background-color: #ff1493;
}

.caixa-da-gota {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.base-gota {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.gota-1 {
    background-color: #fff;
}

.gota-2 {
    background-color: #000;
}

.gota-3 {
    background-color: #ff1493;
}

.caixa-do-palito {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.base-palito {
    height: 100px;
    width: 15px;
    margin: 20px;
    border-radius: 20%;
}

.palito-1 {
    background-color: #fff
}

.palito-2 {
    background-color: #000
}

.palito-3 {
    background-color: #ff1493
}

.caixa-do-triangulo {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.base-triangulo {
    width: 0px; 
    height: 0px; 
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 120px solid transparent;
}

.triangulo-1 {
    background-color: transparent;
    border-bottom-color: #fff;
}

.triangulo-2 {
    background-color: transparent;
    border-bottom-color: #000;
}

.triangulo-3 {
    background-color: transparent;
    border-bottom-color: #ff1493;
}